*{
    padding: 0;
    margin: 0;
}

canvas{
    background: rgb(238, 238, 238);
    display: flex;
    margin: auto;
    margin-left: 28%;
    margin-top: 10%;
    border: 10px solid rgb(180, 179, 179);
}